#tabuleiro
{
   width: 75px;
   height: 75px;
   border: 2px solid;
   border-radius: 8px;
   box-shadow: 0 0 0 2px;
   line-height: 75px;
   font-size: 50px;
   cursor: pointer;
   display: grid;
   justify-content: center;
}

body {
  display: flex;
  align-items: center;
  margin: 0;
}

#btnRolar{
  align-items: center;
  padding: 10px 8px;
  width: 110px;
  text-align: center;
  color: white;
  background: green;
  border: 1px solid white;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
}




